.wrapper {
}
.container {
}
.price {
   &__header {
      text-align: center;
      margin: 3vh;
      font-size: 3vw;
   }

   &__row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
   }

   &__service {
   }

   &__price-write {
   }
}
.menu {
   &__list {
   }

   &__item {
      font-size: 1.5vw;
      margin-bottom: 0.5vh;
      border: 1px solid red;
   }
}
