<div class="wrapper">
   <div class="container">
      <h2 class="price__header">Услуги которыми можно воспользоваться:</h2>
      <div class="price__row">
         <div class="price__service">
            <ul class="menu__list">
               <li class="menu__item">
                  Наименование услуги:
               </li>
               <li class="menu__item">
                  Классика
               </li>
               <li class="menu__item">
                  1,5/2D-наращивание
               </li>
               <li class="menu__item">
                  3D-наращивание
               </li>
               <li class="menu__item">
                  Бархат (4D)
               </li>
            </ul>
         </div>
         <div class="price__price-write">
            <ul class="menu__list">
               <li class="menu__item">
                  Стоимость:
               </li>
               <li class="menu__item">
                  {{price.oneD}}
               </li>
               <li class="menu__item">
                  {{price.twoD}}
               </li>
               <li class="menu__item">
                  {{price.threeD}}
               </li>
               <li class="menu__item">
                  {{price.fourD}}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>