<div class="wrapper">

   <header class="header">
      <div class="container">
         <div class="header__wrapper">

            <div class="header__log">
               Панель Администратора
            </div>
            <nav class="header__menu menu">
               <ul class="menu__list">
                  <li class="menu__item">
                     <a [routerLink]="['/']" class="menu__link">Вернуться на главную</a>
                  </li>
                  <li *ngIf="auth.isAuthenticated()" class="menu__item">
                     <a [routerLink]="['/admin/edit-price']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" class="menu__link">Редактировать прайс</a>
                  </li>
                  <li *ngIf="auth.isAuthenticated()" class="menu__item">
                     <a [routerLink]="['/admin/applications']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}" class="menu__link">Проверить записи</a>
                  </li>
                  <li *ngIf="auth.isAuthenticated()" class="menu__item">
                     <a class="menu__link" style="cursor: pointer" (click)="logout($event)">Выйти</a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </header>
   <main class="main">
      <router-outlet></router-outlet>

   </main>